profile home {
  output "AOC U2790B 0x000144FF" mode 3840x2160 position 0,0 scale 1
  output eDP-1 enable mode 3840x2160 position 3840,0 scale 2
}

profile laptop {
  output eDP-1 enable mode 3840x2160 position 0,0 scale 1.5
}

profile work1 {
  output eDP-1 disable
  output "HP Inc. HP P34hc G4 CNC3171NV3" mode 3440x1440 position 0,0 scale 1
}

profile work2 {
  output eDP-1 disable
  output "HP Inc. HP P34hc G4 CNC3171NK7" mode 3440x1440 position 0,0 scale 1
}
